@keyframes blink {
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes smooth {
  0%, 20% { opacity: 1; }
  60%, 100% { opacity: 0; }
}

.preactyper-caret {
  display: inline-block;
  width: 1px;
  background-color: black;
}

.preactyper-caret:empty:before {
  content: '\200b';
}

.blink {
  animation: blink 1s step-start 0s infinite;
}

.smooth {
  animation: smooth 0.5s ease-in-out 0s infinite alternate;
}