.react-typer-char {
  display: inline-block;
  white-space: pre-wrap;
}

.react-typer-char.typed {
  color: black;
}

.react-typer-char.untyped, .react-typer-char.erased {
  display: none;
}

.react-typer-char.selected {
  display: inline-block;
  background-color: #ACCEF7;
  color: black;
}